body {
  background: #FFFFFF;
  /* background: #0044FF; */
  /* background: #000000; */
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  /* overflow-x: hidden; */
  /* overflow-y: hidden; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* background: -moz-linear-gradient(-45deg, #45484d 0%, #000000 100%);
background: -webkit-linear-gradient(-45deg, #45484d 0%,#000000 100%);
background: linear-gradient(135deg, #45484d 0%,#000000 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); IE6-9 fallback on horizontal gradient */